@import "compass/reset";
@import "./setting.scss";

@mixin bg-set() {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body{
  background: #f5f5f5 !important;
}
hr{
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    margin: 60px 0;
}
.country-block{
    position: relative;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    @include font-setting;
    margin: 60px auto 240px;
    .country-head{
      position: absolute;
      text-align: center;
      margin-top: 160px;
      z-index: 61;
    }
    .yellow-text{
        line-height: 22px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 4px;
        text-align: center;
        color: #ffd858;
    }
    .red-text{
        line-height: 22px;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: left;
        color: #df8d74;
        margin: 16px 0 8px;
    }
    .white-text{
        line-height: 22px;
        font-size: 15px;
        text-align: left;
        color: #ffffff;
    }
    .country-head-name{
        line-height: 59px;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 10px;
        text-align: center;
        color: #ffffff;
    }
    .country-head-icon{
        position: relative;
        display: block;
        margin: 25px auto;
        height: 24px;
        cursor: pointer;
        width: auto;
    }
    .country-card-box{
        display: absolute;
        bottom: 0;
        width: 100%;
        max-width: 1080px;
        height: 450px;
        border-radius: 4px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(38, 38, 79, 0.7);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        padding: 40px 48px;
        .country-card-bg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 50;
            text-align: left;
            padding: 40px 48px;
            @media(max-width:767px){ padding: 24px 16px; }
            a.place-name-tag{
                position: relative;
                display: inline-block;
                color: #cccccc;
                border-right: 1px solid #cccccc;
                text-decoration: none;
                letter-spacing: 6px;
                vertical-align: top;
                line-height: 25px;
                cursor: pointer;
                font-size: 17px;
                padding: 0 10px 0 12px;
                &:nth-last-child(1){ border: none !important; }
                &:hover{ color: #FFFFFF; }
            }
            .country-subcard{
                height: 400px;
                overflow-y: auto;
                @media(max-width:767px){ height: 160px; }
                &::-webkit-scrollbar{
                    border-radius: 3.5px;
                    width: 4px;
                }
                &::-webkit-scrollbar-track{
                    width: 4px;
                    background: #555555;
                }
                &::-webkit-scrollbar-thumb{
                    width: 4px;
                    background: #dbdbdb;
                }
            }
          }
          .arrow-white{
              position: absolute;
              bottom: 24px;
              left: 50%;
              z-index: 60;
              margin-left: -12px;
              @media(max-width:767px){ bottom: 8px; }
              &>img{
                width: 24px;
                height: auto;
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
              }
          }
          .blur-bottom{
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 190px;
              background-image: linear-gradient(to Top,#646480 0%, #646480 80%,transparent 90%, transparent 100%) ;
              z-index: 10;
              opacity: 0.8;
            }
    }
}

.blur-container{
    @include bg-set();
    &::before, &::after{
        top: 0px;
        left: 0px;
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
    }
    .blur-box{
        display: block;
        position: relative;
        &:before, &:after{
            top: 0px;
            left: 0px;
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
        }
    }
    &.blur-bg{
        --bg: url(../image/picture/mp1.jpeg);
        color: #444;
        padding: 0px 20px;
        background-image: -webkit-linear-gradient(0, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),var(--bg);
        background-image: -o-linear-gradient(0, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),var(--bg);
        background-image: linear-gradient(0, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),var(--bg);
        .blur-box{
            overflow: hidden;
            &:before{
                opacity: 0.3;
                -ms-filter: blur(15px);
                -webkit-filter: blur(15px);
                filter: blur(15px);
                background-color: rgb(38, 38, 79);
            }
            &:after{
                @include bg-set();
                -ms-filter: blur(15px);
                -webkit-filter: blur(15px);
                filter: blur(15px);
                background-image: -webkit-linear-gradient(0, rgba(38, 38, 79, 0.7) 0%, rgba(38, 38, 79, 0.7) 100%),var(--bg);
                background-image: -o-linear-gradient(0, rgba(38, 38, 79, 0.7) 0%, rgba(38, 38, 79, 0.7) 100%),var(--bg);
                background-image: linear-gradient(0, rgba(38, 38, 79, 0.7) 0%, rgba(38, 38, 79, 0.7) 100%),var(--bg);
            }
        }
    }
}
.country-wine-block{
    position: relative;
    display: block;
    border-top: 1px solid #dbdbdb;
    margin: 30px auto 60px;
    padding-top: 60px;
    .country-head{
        position: relative;
        display: block;
        width: 100%;
        .country-head-bg{
            position: relative;
            width: 100%;
            height: 180px;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            .country-head-text{
                position: relative;
                @include font-setting;
                font-size: 40px;
                line-height: 59px;
                font-weight: 300;
                letter-spacing: 10px;
                text-align: left;
                color: #ffffff;
                &:after{
                  content: '';
                  position: absolute;
                  width: 90px;
                  left: 0;
                  bottom: -8px;
                  border-bottom: 1px solid #d1a593;
                }
            }
        }
    }
    .brand-block{
      @media(max-width:767px){ margin: 0; }
        .brand-box{
            position: relative;
            width: 100%;
            padding: 8px;
            margin: 0;
            @media(max-width:767px){ padding: 4px; }
            &>img{
              width: 100%;
              height: 140px;
              -o-object-fit: cover;
              object-fit: cover;
              @media(max-width:767px){ height: 50px; }
            }
        }
    }

}

