@import "compass/reset";
@font-face{
    font-family: "Noto Sans CJK TC";
    src: url(../font/NotoSansCJKtc-Regular.otf);
    font-style: normal;
    font-weight: normal;
}
@mixin font-setting{
    font-family: $font-family-os;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    font-smooth: always;
}
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
$font-family-os: "Noto Sans CJK TC","kozgopr6n","PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
