@import "compass/reset";
@import "./setting.scss";

.cart-block{
    position: relative;
    display: block;
    width: 100%;
    background: #FFFFFF;
    margin-top: 120px;
    .cart-menu-block{
        position: relative;
        display: block;
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        .cart-menu-box{
            position: relative;
            display: block;
            height: 98px;
            padding-top: 25px;
            .cart-menu-active{
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    border-bottom: 2px solid #5052a1;
                }
            }
            .cart-menu{
                position: relative;
                display: inline-block;
                @include font-setting;
                font-size: 28px;
                line-height: 41px;
                font-weight: 300;
                letter-spacing: 2px;
                text-align: center;
                color: #5052a1;
                cursor: pointer;
                padding: 16px 15px;
                margin: 0 12px 0 0;
                &:hover:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    border-bottom: 2px solid #5052a1;
                }
            }
        }
    }
    .cart-content{
        position: relative;
        display: block;
        width: 100%;
        max-width: 1080px;
        padding: 0;
        input[type="checkbox"]{
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            background-image: url('../image/icon/check-02.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            cursor: pointer;
            padding: 0;
            -o-transition: 0.3s;
            -moz-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            margin: 27px 6px 27px 0;
            @media(max-width:767px){ margin-left: 10px; }
            &:checked{
                background-image: url('../image/icon/check-01.png');
            }
            &+label,&+img+label{
                @include font-setting;
                font-size: 15px;
                line-height: 22px;
                text-align: left;
                color: #323142;
                vertical-align: top;
                margin: 24px 0;
            }
            &+img{
                height: 48px;
                width: auto;
                vertical-align: top;
                margin: 11px 6px 11px 0;
                @media(max-width:767px){
                    width: 100%;
                    height: auto;
                    border: 0.5px solid #dbdbdb;
                    padding: 10px;
                }
            }
            &+img+label{
                display: -webkit-inline-flex;
                display: inline-flex;
                align-items: center;
                width: calc(100% - 76px);
                height: 44px;
                margin: 14px 0;
                vertical-align: top;
                @media(max-width:767px){ 
                    font-size: 22px;
                    line-height:28px;
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
        table{
            position: relative;
            display: block;
            margin: 0;
            @include font-setting;
            font-size: 15px;
            line-height: 22px;
            text-align: left;
            tr:nth-child(1){
                border-bottom: 1px solid #dbdbdb;
                color: #999999;
                th{ padding: 16px 0; }
                .th-1{ width:40%; }
                .th-2{ width:12%; }
                .th-3{ width:12%; }
                .th-4{ width:12%; }
                .th-5{ width:12%; }
                .th-6{ width:12%; }
                @media(max-width:767px){ display: none !important; }
            }
            tr{
                @media(max-width:767px){ 
                    display: block;
                    width: 100%;
                }
                &[colspan="6"] > td{
                    padding: 0;
                }
            }
            .cart-item-tr{
                border: 1px solid #dbdbdb;
                @media(max-width:767px){ 
                    display: block;
                    width: 100%;
                }
                td{
                    padding: 10px 10px 10px 0;
                    vertical-align: middle;
                    @media(max-width:767px){
                        display: block;
                        width: 100%;
                        border: none;
                        padding: 10px; 
                        &:before {
                            content: attr(data-th);
                            display: inline-block;
                            font-weight: bold;
                            margin-right: 10px;
                            background: #5052a1;
                            color: #FFFFFF;
                            border-radius: 4px;
                            vertical-align: top;
                            padding: 5px;
                        }
                    }
                    &:nth-child(1){ 
                        padding: 10px; 
                        @media(max-width:767px){
                            position: relative;
                            display: block;
                            width: 100%;
                            &>input{
                                margin: 0;
                                float: right;
                                width: 28px;
                                height: 28px;
                            }
                        }
                    }
                    &:nth-child(3),&:nth-child(5){ font-weight: bold; color: #933c42; }
                    input.cart-item-count{
                        position: relative;
                        display: inline-block;
                        width: 40px;
                        height: 20px;
                        border-radius: 2px;
                        border: solid 0.5px #999999;
                        text-align: center;
                        vertical-align: top;
                        outline: none;
                        margin: 2px 3px;
                    }
                    .cart-item-reduce,.cart-item-add{
                        position: relative;
                        display: inline-block;
                        margin: -1px 3px 0 0;
                        img{
                            height: 22px;
                            width: auto;
                        }
                    }
                    .cart-item-action{
                        display: block;
                        @media(max-width:767px){ display: inline-block; margin-right: 24px;}
                    }
                }
            }
            .cart-delete-item-tr{
                border: 1px solid #dbdbdb;
                @media(max-width:767px){ 
                    display: block;
                    width: 100%;
                }
                td{
                    padding: 10px 10px 10px 0;
                    vertical-align: middle;
                    color: #999999;
                    @media(max-width:767px){
                        display: block;
                        width: 100%;
                        border: none;
                        padding: 10px; 
                        &:before {
                            content: attr(data-th);
                            display: inline-block;
                            font-weight: bold;
                            margin-right: 10px;
                            background: #999999;
                            color: #FFFFFF;
                            border-radius: 4px;
                            vertical-align: top;
                            padding: 5px;
                        }
                    }
                    &:nth-child(1){ 
                        padding: 10px; 
                        @media(max-width:767px){
                            position: relative;
                            display: block;
                            width: 100%;
                            &>input{
                                margin: 0;
                                float: right;
                                width: 28px;
                                height: 28px;
                            }
                        }
                    }
                    input.cart-item-count{
                        position: relative;
                        display: inline-block;
                        width: 40px;
                        height: 20px;
                        border-radius: 2px;
                        border: solid 0.5px #999999;
                        text-align: center;
                        vertical-align: top;
                        outline: none;
                        margin: 2px 3px;
                    }
                    .cart-item-reduce,.cart-item-add{
                        position: relative;
                        display: inline-block;
                        margin: -1px 3px 0 0;
                        img{
                            height: 22px;
                            width: auto;
                        }
                    }
                    .cart-item-action{
                        display: block;
                        @media(max-width:767px){ display: inline-block; margin-right: 24px;}
                    }
                }
            }
            input.cart-delete-checkbox{
                &:checked{
                    background-image: url('../image/icon/check-03.png');
                }
            }

        }
        .cart-action-box{
            position: relative;
            display: block;
            margin: 60px 0 24px;
            @media(max-width:767px){ text-align: center; }
            & > div{
                position: relative;
                display: inline-block;
                @include font-setting;
                font-size: 13px;
                line-height: 19px;
                text-align: left;
                color: #999999;
                cursor: pointer;
                margin: 0 24px 0 0;
                @media(max-width:767px){ margin: 0 10px; }
                & > img{
                    height: 18px;
                    width: auto;
                    vertical-align: top;
                    margin: 1px 3px 0 1px;
                }
            }
        }
        .cart-total-box{
            position: relative;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #f5f6f7;
            padding: 24px;
            @include font-setting;
            @media(max-width:767px){ padding: 24px 10px; }
            .cart-item-mount{
                font-size: 15px;
                text-align: left;
                color: #323142;
                & > span{
                    font-size: 19px;
                    font-weight: bold;
                    line-height: 28px;
                    color: #933c42;
                    margin: 0 16px;
                }
            }
            .cart-item-total{
                float: right;
                .cart-item-price-text{
                    display: inline-block;
                    margin-right: 24px;
                    @media(max-width:767px){ margin-right: 5px; }
                    span:nth-child(1){
                        display: block;
                        font-size: 15px;
                        line-height: 22px;
                        text-align: right;
                        color: #323142;
                    }
                    span:nth-child(2){
                        display: block;
                        font-size: 13px;
                        line-height: 19px;
                        text-align: right;
                        color: #999999;
                    }
                }
                .cart-item-price{
                    display: inline-block;
                    @include font-setting;
                    font-size: 19px;
                    line-height: 28px;
                    font-weight: bold;
                    text-align: right;
                    color: #933c42;
                    vertical-align: top;
                    margin-top: 8px;
                }
            }
        }
        .cart-checkout-btn{
            position: relative;
            display: block;
            float: right;
            width: 100%;
            max-width: 343px;
            height: 48px;
            border-radius: 4px;
            background-color: #933c42;
            @include font-setting;
            font-size: 15px;
            line-height: 48px;
            font-weight: bold;
            letter-spacing: 2px;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
            margin: 16px 0 60px;
        }
    }
}