/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Noto Sans CJK TC";
  src: url(../font/NotoSansCJKtc-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/* line 9, ../sass/countryPageStyle.scss */
body {
  background: #f5f5f5 !important;
}

/* line 12, ../sass/countryPageStyle.scss */
hr {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  margin: 60px 0;
}

/* line 17, ../sass/countryPageStyle.scss */
.country-block {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  margin-top: 60px;
}
/* line 29, ../sass/countryPageStyle.scss */
.country-block .country-head {
  position: absolute;
  text-align: center;
  margin-top: 160px;
}
/* line 34, ../sass/countryPageStyle.scss */
.country-block .yellow-text {
  line-height: 22px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
  color: #ffd858;
}
/* line 42, ../sass/countryPageStyle.scss */
.country-block .red-text {
  line-height: 22px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  color: #df8d74;
  margin: 16px 0 8px;
}
/* line 51, ../sass/countryPageStyle.scss */
.country-block .white-text {
  line-height: 22px;
  font-size: 15px;
  text-align: left;
  color: #ffffff;
}
/* line 57, ../sass/countryPageStyle.scss */
.country-block .country-head-name {
  line-height: 59px;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  color: #ffffff;
}
/* line 65, ../sass/countryPageStyle.scss */
.country-block .country-head-icon {
  position: relative;
  display: block;
  margin: 25px auto;
  height: 24px;
  width: auto;
}
/* line 72, ../sass/countryPageStyle.scss */
.country-block .country-card-box {
  display: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1080px;
  height: 450px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(38, 38, 79, 0.7);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 40px 48px;
}
/* line 85, ../sass/countryPageStyle.scss */
.country-block .country-card-box .country-card-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  text-align: left;
  padding: 40px 48px;
}
@media (max-width: 767px) {
  /* line 85, ../sass/countryPageStyle.scss */
  .country-block .country-card-box .country-card-bg {
    padding: 24px 16px;
  }
}
/* line 97, ../sass/countryPageStyle.scss */
.country-block .country-card-box .country-card-bg a.place-name-tag {
  color: #cccccc;
  border-right: 1px solid #cccccc;
  text-decoration: none;
  letter-spacing: 6px;
  vertical-align: top;
  line-height: 25px;
  font-size: 17px;
}
/* line 105, ../sass/countryPageStyle.scss */
.country-block .country-card-box .country-card-bg a.place-name-tag:nth-last-child(1) {
  border: none;
}
/* line 106, ../sass/countryPageStyle.scss */
.country-block .country-card-box .country-card-bg a.place-name-tag:hover {
  color: #FFFFFF;
}
/* line 110, ../sass/countryPageStyle.scss */
.country-block .country-card-box .country-card-bg .country-subcard {
  height: 400px;
  overflow-y: auto;
}
@media (max-width: 767px) {
  /* line 110, ../sass/countryPageStyle.scss */
  .country-block .country-card-box .country-card-bg .country-subcard {
    height: 160px;
  }
}
/* line 114, ../sass/countryPageStyle.scss */
.country-block .country-card-box .country-card-bg .country-subcard::-webkit-scrollbar {
  border-radius: 3.5px;
  width: 4px;
}
/* line 118, ../sass/countryPageStyle.scss */
.country-block .country-card-box .country-card-bg .country-subcard::-webkit-scrollbar-track {
  width: 4px;
  background: #555555;
}
/* line 122, ../sass/countryPageStyle.scss */
.country-block .country-card-box .country-card-bg .country-subcard::-webkit-scrollbar-thumb {
  width: 4px;
  background: #dbdbdb;
}
/* line 128, ../sass/countryPageStyle.scss */
.country-block .country-card-box .arrow-white {
  position: absolute;
  bottom: 24px;
  left: 50%;
  z-index: 60;
  margin-left: -12px;
}
@media (max-width: 767px) {
  /* line 128, ../sass/countryPageStyle.scss */
  .country-block .country-card-box .arrow-white {
    bottom: 8px;
  }
}
/* line 135, ../sass/countryPageStyle.scss */
.country-block .country-card-box .arrow-white > img {
  width: 24px;
  height: auto;
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 145, ../sass/countryPageStyle.scss */
.country-block .country-card-box .blur-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background-image: linear-gradient(to Top, #646480 0%, #646480 80%, transparent 90%, transparent 100%);
  z-index: 10;
  opacity: 0.8;
}

/* line 157, ../sass/countryPageStyle.scss */
.country-wine-block {
  margin-top: 300px;
}
/* line 159, ../sass/countryPageStyle.scss */
.country-wine-block .intro-block-bg {
  position: relative;
}
/* line 161, ../sass/countryPageStyle.scss */
.country-wine-block .intro-block-bg > img {
  position: relative;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* line 174, ../sass/countryPageStyle.scss */
.blur-container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* line 176, ../sass/countryPageStyle.scss */
.blur-container::before, .blur-container::after {
  top: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
/* line 185, ../sass/countryPageStyle.scss */
.blur-container .blur-box {
  display: block;
  position: relative;
}
/* line 188, ../sass/countryPageStyle.scss */
.blur-container .blur-box::before, .blur-container .blur-box::after {
  top: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
/* line 198, ../sass/countryPageStyle.scss */
.blur-container.blur-1 {
  --bg: url(../image/picture/mp1.jpeg);
  color: #444;
  padding: 0px 20px;
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), var(--bg);
}
/* line 203, ../sass/countryPageStyle.scss */
.blur-container.blur-1 .blur-box {
  overflow: hidden;
}
/* line 205, ../sass/countryPageStyle.scss */
.blur-container.blur-1 .blur-box::before {
  opacity: 0.3;
  filter: blur(15px);
  background-color: #26264f;
}
/* line 210, ../sass/countryPageStyle.scss */
.blur-container.blur-1 .blur-box::after {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(15px);
  background-image: linear-gradient(0, rgba(38, 38, 79, 0.7) 0%, rgba(38, 38, 79, 0.7) 100%), var(--bg);
}
