/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Noto Sans CJK TC";
  src: url(../fonts/Noto/NotoSansCJKtc-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/* line 4, ../sass/productPageStyle.scss */
.product-transaction-block {
  position: relative;
  display: block;
  width: 100%;
  background: #FFFFFF;
  margin-top: 120px;
  padding: 0 0 62px;
  border-bottom: 1px solid #cccccc;
}
/* line 12, ../sass/productPageStyle.scss */
.product-transaction-block .product-classify {
  position: relative;
  display: block;
  height: 22px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  text-align: left;
  color: #999999;
  margin: 24px 0 0;
}
/* line 22, ../sass/productPageStyle.scss */
.product-transaction-block .product-main-content {
  position: relative;
  display: block;
  width: 100%;
  margin: 60px auto 0;
}
/* line 28, ../sass/productPageStyle.scss */
.product-transaction-block img#main-pic {
  position: relative;
  display: block;
  width: 100%;
  max-width: 553px;
  border: solid 0.5px #999999;
  padding: 40px;
  margin: auto;
}
/* line 37, ../sass/productPageStyle.scss */
.product-transaction-block .product-pic-box {
  position: relative;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 553px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  margin: 12px auto;
}
/* line 47, ../sass/productPageStyle.scss */
.product-transaction-block .product-pic-box > img {
  width: 97px;
  height: auto;
  border: solid 0.5px #999999;
  padding: 12px;
}
@media (max-width: 1200px) {
  /* line 47, ../sass/productPageStyle.scss */
  .product-transaction-block .product-pic-box > img {
    width: 20% !important;
  }
}
/* line 57, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block {
  position: relative;
  display: block;
}
/* line 60, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  border-right: 1px solid #cccccc;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  z-index: 555;
  cursor: pointer;
}
/* line 68, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist {
  display: none;
  position: absolute;
  top: 100%;
  width: 203px;
  height: auto;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #999999;
  cursor: default;
  padding: 16px 24px;
}
/* line 82, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-btn {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  cursor: pointer;
}
/* line 90, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-btn > img {
  height: 18px;
  width: auto;
  vertical-align: top;
  margin: 2px 6px 0 0;
}
/* line 97, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-text {
  position: relative;
  display: block;
  height: 19px;
  font-size: 13px;
  text-align: left;
  color: #323142;
}
/* line 105, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-option {
  position: relative;
  display: block;
  margin-top: 5px;
}
/* line 109, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-option > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 5px 0;
  -webkit-appearance: none;
  outline: none;
  background-image: url("../image/icon/check-02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  padding: 0;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 124, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-option > input[type="checkbox"]:checked {
  background-image: url("../image/icon/check-01.png");
}
/* line 127, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-option span {
  position: relative;
  display: inline-block;
  width: calc(100% - 30px);
  min-height: 22px;
  font-size: 15px;
  text-align: left;
  color: #323142;
  margin: 5px 0 0 5px;
  vertical-align: top;
}
/* line 139, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-sub {
  width: 203px;
  height: auto;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #999999;
  padding: 16px 24px;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
}
/* line 153, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-sub > input[type="text"] {
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #cccccc;
  border-style: solid;
  outline: none;
  font-size: 13px;
  text-align: left;
  color: #999999;
  padding: 2px 0 6px 0;
  margin: 0 0 16px 0;
}
/* line 165, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-sub > input[type="radio"] {
  position: relative;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #323142;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  margin-right: 5px;
}
/* line 177, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-sub > input[type="radio"]:checked:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #5052a1;
  border-radius: 12px;
  background: #5052a1;
  margin-top: -5px;
  margin-left: -5px;
}
/* line 191, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-sub span {
  position: relative;
  display: inline-block;
  width: calc(100% - 30px);
  min-height: 22px;
  font-size: 15px;
  text-align: left;
  color: #323142;
  margin: 5px 0 0 5px;
  vertical-align: top;
}
/* line 202, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-sub .new-wine-cancel-btn {
  position: relative;
  display: inline-block;
  font-size: 15px;
  text-align: left;
  color: #323142;
  cursor: pointer;
}
/* line 210, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist .new-winelist-sub .new-wine-create-btn {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 15px;
  text-align: left;
  color: #933c42;
  cursor: pointer;
}
/* line 220, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist .new-winelist hr {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background: #cccccc;
  padding: 0;
  margin: 12px 0;
}
/* line 230, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-new-winelist:hover > .new-winelist {
  display: block;
}
/* line 234, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-share {
  position: relative;
  display: inline-block;
  padding-left: 8px;
}
/* line 239, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-sales-info {
  position: relative;
  display: inline-block;
  float: right;
}
/* line 243, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-sales-info .product-star {
  position: relative;
  display: inline-block;
  border-right: 1px solid #cccccc;
  padding-right: 16px;
}
/* line 248, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-sales-info .product-star span {
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  color: #d1a593;
  vertical-align: top;
  padding-left: 6px;
}
/* line 258, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block .product-sales-info .product-sales {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  color: #d1a593;
  vertical-align: top;
  padding-left: 10px;
}
/* line 270, ../sass/productPageStyle.scss */
.product-transaction-block .product-share-block img {
  height: 24px;
  width: auto;
}
/* line 275, ../sass/productPageStyle.scss */
.product-transaction-block .product-name {
  position: relative;
  display: block;
  width: 100%;
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-align: left;
  color: #323142;
}
@media (min-width: 1200px) {
  /* line 275, ../sass/productPageStyle.scss */
  .product-transaction-block .product-name {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  /* line 275, ../sass/productPageStyle.scss */
  .product-transaction-block .product-name {
    font-size: 24px;
    line-height: 28px;
    margin-top: 30px;
  }
}
/* line 292, ../sass/productPageStyle.scss */
.product-transaction-block .product-name > span {
  position: relative;
  display: inline-block;
  height: 24px;
  border-radius: 4px;
  background: #df8d74;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  letter-spacing: 0;
  padding: 0 8px;
  margin: 5px 2px;
}
/* line 310, ../sass/productPageStyle.scss */
.product-transaction-block .product-subname {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #999999;
}
/* line 317, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  vertical-align: middle;
  min-height: 60px;
}
/* line 328, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox > div:nth-child(1) {
  min-width: 70px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #999999;
}
@media (min-width: 1200px) {
  /* line 317, ../sass/productPageStyle.scss */
  .product-transaction-block .product-listbox {
    max-width: 508px;
  }
}
@media (max-width: 767px) {
  /* line 338, ../sass/productPageStyle.scss */
  .product-transaction-block .product-listbox > div:nth-child(2) {
    position: relative;
    display: block;
  }
}
/* line 343, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-orginal-price {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 21px;
  line-height: 31px;
  text-align: left;
  color: #999999;
  text-decoration: line-through;
}
/* line 353, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-member-price {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 28px;
  line-height: 41px;
  font-weight: bold;
  text-align: left;
  color: #933c42;
  vertical-align: middle;
  margin: 8px 8px 8px 0;
}
/* line 365, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-discount {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
  background-color: #933c42;
  vertical-align: middle;
  padding: 2px 5px 2px 0;
  margin: 8px 8px 8px 13px;
}
/* line 379, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-discount:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 100%;
  top: 0;
  border-right: 13px solid #933c42;
  border-top: 13px solid transparent;
  border-bottom: 13.1px solid transparent;
}
/* line 391, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-activity-tag {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  background: #e7a6a9;
  vertical-align: middle;
  padding: 2px 6px;
  margin-left: 8px;
  margin: 8px 8px 8px 0;
}
/* line 407, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-invest-price {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 28px;
  line-height: 41px;
  font-weight: bold;
  text-align: left;
  color: #5052a1;
  vertical-align: middle;
  margin: 8px 8px 8px 0;
}
/* line 419, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-invest-btn {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  border: solid 0.5px #5052a1;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  color: #5052a1;
  text-decoration: none;
  padding: 6px 16px;
  margin: 8px 8px 8px 0;
}
/* line 434, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-invest-btn:hover {
  color: #FFFFFF;
  background: #5052a1;
}
/* line 437, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-invest-btn:hover > img {
  filter: brightness(10);
}
/* line 441, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-invest-btn > img {
  height: 22px;
  width: auto;
  vertical-align: middle;
}
/* line 447, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-delivery-from, .product-transaction-block .product-listbox .product-delivery-text, .product-transaction-block .product-listbox .product-delivery-to {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
}
/* line 456, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-delivery-text {
  position: relative;
  display: inline-block;
  margin: 8px;
}
/* line 461, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-delivery-to {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  margin: 8px 16px 8px 0;
}
/* line 467, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-delivery-fee {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #933c42;
  margin: 8px 8px 8px 0;
}
/* line 477, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-weight, .product-transaction-block .product-listbox .product-unit {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  margin: 8px 16px 8px 0;
}
/* line 487, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-weight-unit {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  margin: 8px 16px 8px 0;
}
/* line 497, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox input[type="radio"] {
  position: relative;
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
/* line 503, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox input[type="radio"]:checked + label {
  border-color: #5052a1;
  background: #5052a1;
  color: #FFFFFF;
}
/* line 508, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox input[type="radio"] + label {
  border-radius: 4px;
  border: solid 0.5px #999999;
  font-size: 15px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  line-height: 22px;
  height: 28px;
  text-align: left;
  color: #323142;
  cursor: pointer;
  padding: 3px 6px;
  margin: 8px 8px 8px 0;
}
/* line 523, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-count-reduce, .product-transaction-block .product-listbox .product-count-add {
  position: relative;
  display: inline-block;
  height: auto;
  width: auto;
  outline: none;
  border: none;
  background: none;
  margin: 8px 16px 8px 0;
  padding: 0;
  vertical-align: middle;
}
/* line 534, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-count-reduce > img, .product-transaction-block .product-listbox .product-count-add > img {
  height: 24px;
  width: auto;
}
/* line 539, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-count {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  width: 68px;
  height: 28px;
  border-radius: 2px;
  border: solid 0.5px #999999;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #323142;
  padding: 1.5px 0;
  outline: none;
  margin: 8px 16px 8px 0;
  vertical-align: middle;
}
/* line 556, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-count-left {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  text-align: left;
  color: #999999;
  margin: 8px 8px 8px 0;
}
/* line 565, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-service-box {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  height: 24px;
  border-radius: 4px;
  background: #f2f2f2;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  color: #323142;
  vertical-align: middle;
  padding: 2.5px 8px;
  margin: 8px 8px 8px 0;
}
/* line 579, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-service-box > img {
  height: 18px;
  width: auto;
  margin: 0 6px 0 0;
  vertical-align: middle;
}
/* line 586, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-reference-img {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 8px 8px 8px 0;
  vertical-align: middle;
}
/* line 595, ../sass/productPageStyle.scss */
.product-transaction-block .product-listbox .product-reference-text {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  text-align: left;
  color: #323142;
  margin: 8px 8px 8px 0;
  vertical-align: middle;
}
/* line 606, ../sass/productPageStyle.scss */
.product-transaction-block .product-add-cart-btn {
  position: relative;
  display: inline-block;
  height: 48px;
  border-radius: 4px;
  background: #933c42;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 12px 60px;
  margin-top: 20px;
  z-index: 600;
}
/* line 624, ../sass/productPageStyle.scss */
.product-transaction-block .product-add-cart-btn > img {
  height: 24px;
  width: auto;
  vertical-align: top;
  margin-right: 16px;
}
/* line 631, ../sass/productPageStyle.scss */
.product-transaction-block .product-no-inventory-btn {
  position: relative;
  display: inline-block;
  height: 48px;
  border-radius: 4px;
  background: #dbdbdb;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 12px 98px;
  margin-top: 20px;
  cursor: not-allowed;
}

/* line 651, ../sass/productPageStyle.scss */
.product-info-block {
  position: relative;
  display: block;
  width: 100%;
  background: #FFFFFF;
  padding: 0;
  margin: 0 auto;
}
/* line 658, ../sass/productPageStyle.scss */
.product-info-block .product-info-menu-box {
  position: relative;
  display: block;
}
@media (max-width: 991px) {
  /* line 658, ../sass/productPageStyle.scss */
  .product-info-block .product-info-menu-box {
    text-align: center;
  }
}
/* line 663, ../sass/productPageStyle.scss */
.product-info-block .product-info-menu-box .product-info-menu-active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #933c42;
}
/* line 672, ../sass/productPageStyle.scss */
.product-info-block .product-info-menu-box .product-info-menu {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #323142;
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 16px;
}
@media (max-width: 991px) {
  /* line 672, ../sass/productPageStyle.scss */
  .product-info-block .product-info-menu-box .product-info-menu {
    padding: 8px;
    margin-right: 8px;
  }
}
/* line 684, ../sass/productPageStyle.scss */
.product-info-block .product-info-menu-box .product-info-menu:hover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #933c42;
}
/* line 694, ../sass/productPageStyle.scss */
.product-info-block .product-info-list-block {
  position: relative;
  display: block;
  margin-top: 60px;
}
/* line 698, ../sass/productPageStyle.scss */
.product-info-block .product-info-list-block .product-info-list-box {
  position: relative;
  display: inline-block;
  padding: 0 4px;
  margin: 0 0 0 -4px;
  z-index: 40;
  float: none;
}
/* line 706, ../sass/productPageStyle.scss */
.product-info-block .product-info-list-block .product-info-list {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #dbdbdb;
  height: 54px;
  margin: 0;
}
/* line 716, ../sass/productPageStyle.scss */
.product-info-block .product-info-list-block .product-info-list > div:nth-child(1) {
  position: relative;
  display: inline;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  min-width: 54px;
  text-align: left;
  color: #999999;
}
/* line 725, ../sass/productPageStyle.scss */
.product-info-block .product-info-list-block .product-info-list > div:nth-child(2) {
  position: relative;
  display: inline;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  height: auto;
  text-align: left;
  color: #323142;
}
/* line 734, ../sass/productPageStyle.scss */
.product-info-block .product-info-list-block .product-info-list .item-score {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 0.5px #999999;
  overflow: hidden;
  margin-right: 8px;
}
/* line 742, ../sass/productPageStyle.scss */
.product-info-block .product-info-list-block .product-info-list .item-score span {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #555555;
  padding: 0 3px;
}
/* line 749, ../sass/productPageStyle.scss */
.product-info-block .product-info-list-block .product-info-list .item-score span:nth-child(1) {
  background: #f3f3f3;
  border-right: 1px solid #999999;
}
/* line 757, ../sass/productPageStyle.scss */
.product-info-block .product-info-article {
  position: relative;
  display: block;
  margin: 40px 0 100px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 27px;
  text-align: left;
  color: #323142;
}
