/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Noto Sans CJK TC";
  src: url(../fonts/Noto/NotoSansCJKtc-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/* line 4, ../sass/searchPageStyle.scss */
body {
  background-color: #f5f5f5;
}

/* line 7, ../sass/searchPageStyle.scss */
.search-all-block {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 120px;
  padding: 24px 0 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #dbdbdb;
}
/* line 15, ../sass/searchPageStyle.scss */
.search-all-block .search-output-text {
  position: relative;
  display: block;
  width: 100%;
  height: 22px;
  padding: 0;
}
/* line 21, ../sass/searchPageStyle.scss */
.search-all-block .search-output-text > span {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  text-align: left;
  color: #999999;
}
/* line 26, ../sass/searchPageStyle.scss */
.search-all-block .search-output-text > span:nth-child(2) {
  float: right;
}
@media (max-width: 767px) {
  /* line 26, ../sass/searchPageStyle.scss */
  .search-all-block .search-output-text > span:nth-child(2) {
    display: block;
    float: none;
    margin-top: 10px;
  }
}
/* line 36, ../sass/searchPageStyle.scss */
.search-all-block .search-class-box {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 14px;
  padding: 0;
}
@media (max-width: 767px) {
  /* line 36, ../sass/searchPageStyle.scss */
  .search-all-block .search-class-box {
    text-align: center;
    margin-top: 50px;
  }
}
/* line 47, ../sass/searchPageStyle.scss */
.search-all-block .search-class-box .search-class {
  position: relative;
  display: inline-block;
  margin: 0 16px 0 0;
  padding: 12px 0;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #999999;
  padding: 12px 13px 10px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  /* line 62, ../sass/searchPageStyle.scss */
  .search-all-block .search-class-box .search-class:hover {
    color: #5052a1;
  }
  /* line 63, ../sass/searchPageStyle.scss */
  .search-all-block .search-class-box .search-class:hover:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #5052a1;
  }
}
/* line 73, ../sass/searchPageStyle.scss */
.search-all-block .search-class-box .search-class-active {
  color: #5052a1;
}
/* line 75, ../sass/searchPageStyle.scss */
.search-all-block .search-class-box .search-class-active:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #5052a1;
}

/* line 86, ../sass/searchPageStyle.scss */
.search-selection-block {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  background-color: #FFFFFF;
}
@media (max-width: 767px) {
  /* line 86, ../sass/searchPageStyle.scss */
  .search-selection-block {
    text-align: center;
  }
}
/* line 94, ../sass/searchPageStyle.scss */
.search-selection-block ul {
  position: relative;
  display: inline-block;
}
/* line 97, ../sass/searchPageStyle.scss */
.search-selection-block ul input {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 6px 0;
  -webkit-appearance: none;
  outline: none !important;
  background-image: url("../image/icon/check-02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  padding: 0;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 114, ../sass/searchPageStyle.scss */
.search-selection-block ul input:checked {
  background-image: url("../image/icon/check-01.png");
}
/* line 118, ../sass/searchPageStyle.scss */
.search-selection-block ul span {
  position: relative;
  display: inline-block;
  min-height: 22px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  text-align: left;
  color: #323142;
  margin: 6px 0 6px 6px;
  vertical-align: top;
}
/* line 130, ../sass/searchPageStyle.scss */
.search-selection-block ul li:nth-child(1) {
  position: relative;
  display: inline-block;
  width: 164px;
  border-radius: 4px;
  border: solid 0.5px #999999;
  margin: 8px 16px 8px 0;
  padding: 12px 0 12px 36px;
  outline: none;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 17px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  background-image: url("../image/icon/triangle-02.png");
  background-size: 12px 9px;
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 130, ../sass/searchPageStyle.scss */
  .search-selection-block ul li:nth-child(1) {
    width: calc(50vw - 20px);
    margin: 2px 0;
  }
}
/* line 153, ../sass/searchPageStyle.scss */
.search-selection-block ul li:nth-child(1) img {
  position: absolute;
  top: 13px;
  left: 8px;
  height: 22px;
  width: auto;
}
/* line 161, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(1) li:nth-child(2), .search-selection-block ul:nth-child(6) li:nth-child(2), .search-selection-block ul:nth-child(7) li:nth-child(2), .search-selection-block ul:nth-child(8) li:nth-child(2), .search-selection-block ul:nth-child(9) li:nth-child(2), .search-selection-block ul:nth-child(10) li:nth-child(2) {
  position: absolute;
  width: 164px;
  height: auto;
  top: 100%;
  left: 0;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #999999;
  padding: 12px 0 8px 24px;
  z-index: 400;
  text-align: left;
}
/* line 176, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(1) li:nth-child(2) span, .search-selection-block ul:nth-child(6) li:nth-child(2) span, .search-selection-block ul:nth-child(7) li:nth-child(2) span, .search-selection-block ul:nth-child(8) li:nth-child(2) span, .search-selection-block ul:nth-child(9) li:nth-child(2) span, .search-selection-block ul:nth-child(10) li:nth-child(2) span {
  width: 100px;
}
@media (max-width: 767px) {
  /* line 161, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(1) li:nth-child(2), .search-selection-block ul:nth-child(6) li:nth-child(2), .search-selection-block ul:nth-child(7) li:nth-child(2), .search-selection-block ul:nth-child(8) li:nth-child(2), .search-selection-block ul:nth-child(9) li:nth-child(2), .search-selection-block ul:nth-child(10) li:nth-child(2) {
    width: calc(50vw - 20px);
  }
  /* line 181, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(1) li:nth-child(2) span, .search-selection-block ul:nth-child(6) li:nth-child(2) span, .search-selection-block ul:nth-child(7) li:nth-child(2) span, .search-selection-block ul:nth-child(8) li:nth-child(2) span, .search-selection-block ul:nth-child(9) li:nth-child(2) span, .search-selection-block ul:nth-child(10) li:nth-child(2) span {
    width: calc(100% - 32px);
  }
}
/* line 186, ../sass/searchPageStyle.scss */
.search-selection-block .scrollbar-block {
  height: 440px;
  overflow-y: scroll;
}
/* line 189, ../sass/searchPageStyle.scss */
.search-selection-block .scrollbar-block::-webkit-scrollbar {
  border-radius: 3.5px;
  width: 4px;
}
/* line 193, ../sass/searchPageStyle.scss */
.search-selection-block .scrollbar-block::-webkit-scrollbar-track {
  width: 4px;
  background: transparent;
}
/* line 197, ../sass/searchPageStyle.scss */
.search-selection-block .scrollbar-block::-webkit-scrollbar-thumb {
  width: 4px;
  background: #f2f2f2;
}
/* line 201, ../sass/searchPageStyle.scss */
.search-selection-block .scrollbar-block .select-country {
  height: 22px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  text-align: left;
  color: #323142;
}
/* line 208, ../sass/searchPageStyle.scss */
.search-selection-block .scrollbar-block .select-state {
  height: 22px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  text-align: left;
  color: #999999;
}
/* line 215, ../sass/searchPageStyle.scss */
.search-selection-block .scrollbar-block hr {
  height: 1px;
  background: #cccccc;
  margin: 8px 8px 8px 0;
  padding: 0;
}
/* line 222, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(2) li:nth-child(2) {
  position: absolute;
  width: 900px;
  top: 100%;
  left: 0;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #999999;
  padding: 16px 8px 16px 24px;
  z-index: 400;
  text-align: left;
}
/* line 236, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(2) li:nth-child(2) span {
  width: calc(16% - 22px);
}
@media (max-width: 1200px) and (min-width: 992px) {
  /* line 222, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(2) li:nth-child(2) {
    left: -184px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  /* line 222, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(2) li:nth-child(2) {
    width: 164px;
  }
  /* line 242, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(2) li:nth-child(2) span {
    width: 100px;
  }
}
@media (max-width: 767px) {
  /* line 222, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(2) li:nth-child(2) {
    width: calc(50vw - 20px);
  }
  /* line 248, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(2) li:nth-child(2) span {
    width: calc(100% - 32px);
  }
}
/* line 253, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(3) li:nth-child(2) {
  position: absolute;
  width: 716px;
  top: 100%;
  left: 0;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #999999;
  padding: 16px 8px 16px 24px;
  z-index: 400;
  text-align: left;
}
/* line 267, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(3) li:nth-child(2) span {
  width: calc(33% - 24px);
}
@media (max-width: 1200px) and (min-width: 992px) {
  /* line 253, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(3) li:nth-child(2) {
    left: -184px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  /* line 253, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(3) li:nth-child(2) {
    width: 164px;
  }
  /* line 275, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(3) li:nth-child(2) span {
    width: 100px;
  }
}
@media (max-width: 767px) {
  /* line 253, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(3) li:nth-child(2) {
    width: calc(50vw - 20px);
  }
  /* line 281, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(3) li:nth-child(2) span {
    width: calc(100% - 32px);
  }
}
/* line 286, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(4) li:nth-child(2) {
  position: absolute;
  width: 532px;
  top: 100%;
  left: 0;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #999999;
  padding: 16px 8px 16px 24px;
  z-index: 400;
  text-align: left;
}
/* line 300, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(4) li:nth-child(2) span {
  width: calc(50% - 24px);
}
@media (max-width: 1200px) and (min-width: 992px) {
  /* line 286, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(4) li:nth-child(2) {
    left: -184px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  /* line 286, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(4) li:nth-child(2) {
    width: 164px;
  }
  /* line 308, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(4) li:nth-child(2) span {
    width: 100px;
  }
}
@media (max-width: 767px) {
  /* line 286, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(4) li:nth-child(2) {
    width: calc(50vw - 20px);
  }
  /* line 314, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(4) li:nth-child(2) span {
    width: calc(100% - 32px);
  }
}
/* line 319, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(5) li:nth-child(2) {
  position: absolute;
  width: 348px;
  top: 100%;
  left: 0;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #999999;
  padding: 16px 8px 16px 24px;
  z-index: 400;
  text-align: left;
}
/* line 333, ../sass/searchPageStyle.scss */
.search-selection-block ul:nth-child(5) li:nth-child(2) span {
  width: calc(50% - 24px);
}
@media (max-width: 1200px) and (min-width: 992px) {
  /* line 319, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(5) li:nth-child(2) {
    left: -184px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  /* line 319, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(5) li:nth-child(2) {
    width: 164px;
  }
  /* line 341, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(5) li:nth-child(2) span {
    width: 100px;
  }
}
@media (max-width: 767px) {
  /* line 319, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(5) li:nth-child(2) {
    width: calc(50vw - 20px);
  }
  /* line 347, ../sass/searchPageStyle.scss */
  .search-selection-block ul:nth-child(5) li:nth-child(2) span {
    width: calc(100% - 32px);
  }
}
@media (min-width: 767px) {
  /* line 353, ../sass/searchPageStyle.scss */
  .search-selection-block ul li:nth-child(2) {
    display: none;
  }
  /* line 356, ../sass/searchPageStyle.scss */
  .search-selection-block ul:hover > li:nth-child(2) {
    display: block;
  }
}
/* line 360, ../sass/searchPageStyle.scss */
.search-selection-block .select-more {
  position: relative;
  display: inline-block;
  margin: 8px 8px 8px 0;
  padding: 12px 24px 12px 12px;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 360, ../sass/searchPageStyle.scss */
  .search-selection-block .select-more {
    width: calc(50vw - 20px);
    margin: 2px 0;
  }
}
/* line 370, ../sass/searchPageStyle.scss */
.search-selection-block .select-more > img {
  position: relative;
  display: inline;
  vertical-align: middle;
  height: 24px;
  width: auto;
  margin-top: -2px;
}
/* line 378, ../sass/searchPageStyle.scss */
.search-selection-block .select-more > span {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 17px;
  line-height: 22px;
  text-align: left;
  color: #323142;
}
/* line 386, ../sass/searchPageStyle.scss */
.search-selection-block .select-reduce {
  position: relative;
  display: none;
  border: 1px solid #999999;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  margin: 20px 8px 12px 0;
  padding: 5px;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
}
/* line 398, ../sass/searchPageStyle.scss */
.search-selection-block .select-reduce img {
  width: 12px;
  height: 12px;
}
/* line 403, ../sass/searchPageStyle.scss */
.search-selection-block .select-price-block {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 48px;
  /*max-width: 422px;*/
  max-width: 348px;
  padding: 12px;
  margin: 8px 16px 8px 0;
  border-radius: 4px;
  border: solid 0.5px #999999;
  vertical-align: bottom;
}
@media (max-width: 767px) {
  /* line 403, ../sass/searchPageStyle.scss */
  .search-selection-block .select-price-block {
    width: calc(100vw - 33px);
    margin: 0;
    max-width: 100vw;
  }
}
/* line 420, ../sass/searchPageStyle.scss */
.search-selection-block .select-price-block > div {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: space-between;
  height: 24px;
}
/* line 428, ../sass/searchPageStyle.scss */
.search-selection-block .select-price-block > div > img {
  position: relative;
  display: inline-block;
  height: 24px;
  width: auto;
}
/* line 434, ../sass/searchPageStyle.scss */
.search-selection-block .select-price-block > div > span {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #323142;
}
/* line 443, ../sass/searchPageStyle.scss */
.search-selection-block .select-price-block > div .select-range-input {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  border-radius: 2px;
  border: solid 0.5px #999999;
  outline: none;
  text-align: center;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 17px;
  color: #323142;
}
/* line 456, ../sass/searchPageStyle.scss */
.search-selection-block .select-price-block > div .ui-slider-range {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 4px;
  border-radius: 2px;
  background-color: #999999;
  outline: none;
  vertical-align: top;
}
@media (max-width: 767px) {
  /* line 456, ../sass/searchPageStyle.scss */
  .search-selection-block .select-price-block > div .ui-slider-range {
    width: 80px;
  }
}
/* line 467, ../sass/searchPageStyle.scss */
.search-selection-block .select-price-block > div .ui-slider {
  position: relative;
  display: inline-block;
  width: 120px;
  border: none;
  border-radius: 2px;
  height: 4px;
  background: #dbdbdb;
  margin-left: 8px;
}
@media (max-width: 767px) {
  /* line 467, ../sass/searchPageStyle.scss */
  .search-selection-block .select-price-block > div .ui-slider {
    width: 80px;
  }
}
/* line 478, ../sass/searchPageStyle.scss */
.search-selection-block .select-price-block > div .ui-state-default {
  position: absolute;
  top: -0.3em;
  margin-left: -0.6em;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #555555;
  border: none;
  outline: none;
  margin-top: 1px;
  touch-action: none;
}
/* line 493, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block {
  position: relative;
  display: block;
  border-top: 1px solid #dbdbdb;
  padding: 12px 0 0;
  margin: 16px 0 0;
}
/* line 499, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag {
  position: relative;
  display: inline-block;
  height: 28px;
  border-radius: 4px;
  border: solid 0.5px #999999;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  margin: 0 8px 16px 0;
  padding: 3px 8px;
  cursor: pointer;
}
/* line 513, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag img {
  height: 12px;
  width: auto;
  margin: 6px 0 0 6px;
  vertical-align: top;
}
/* line 519, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag:hover {
  border: solid 0.5px #5052a1;
  background-color: #5052a1;
  color: #ffffff;
}
/* line 523, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag:hover img {
  filter: brightness(10);
}
/* line 528, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag-split {
  position: relative;
  display: inline-block;
  margin: 0 24px 0 16px;
  height: 28px;
  padding: 0;
  border-right: 1px solid #cccccc;
  vertical-align: top;
}
@media (max-width: 767px) {
  /* line 528, ../sass/searchPageStyle.scss */
  .search-selection-block .select-tag-block .select-tag-split {
    display: none;
  }
}
/* line 540, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag-sort {
  position: relative;
  display: inline-block;
  height: 28px;
  border-radius: 4px;
  border: solid 0.5px #999999;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  margin: 0 8px 16px 0;
  padding: 3px 8px;
  cursor: pointer;
}
/* line 554, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag-sort img {
  height: 24px;
  width: auto;
  margin: -1px 4px 0 -4px;
  vertical-align: top;
  filter: brightness(0.1);
}
/* line 561, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag-sort:hover {
  border: solid 0.5px #5052a1;
  background-color: #5052a1;
  color: #ffffff;
}
/* line 565, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag-sort:hover img {
  filter: brightness(10);
}
/* line 570, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag-active {
  border: solid 0.5px #5052a1;
  background-color: #5052a1;
  color: #ffffff;
}
/* line 574, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block .select-tag-active > img {
  filter: brightness(10);
}
/* line 578, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block > form {
  position: relative;
  display: inline-block;
}
/* line 581, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block > form > input[type=checkbox] {
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  vertical-align: top;
  outline: none;
  background-image: url("../image/icon/check-02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin: 4px 4px 4px 0;
  padding: 0;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 597, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block > form > input[type=checkbox]:checked {
  background-image: url("../image/icon/check-01.png");
}
/* line 601, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block > form > span {
  line-height: 22px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  text-align: left;
  color: #323142;
  margin-right: 16px;
}
/* line 610, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block > .select-page {
  position: relative;
  display: inline-block;
  float: right;
}
/* line 614, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block > .select-page > img {
  height: 24px;
  width: auto;
  cursor: pointer;
}
/* line 619, ../sass/searchPageStyle.scss */
.search-selection-block .select-tag-block > .select-page > span {
  height: 24px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #999999;
  vertical-align: top;
  margin: 0 8px;
}

/* line 632, ../sass/searchPageStyle.scss */
.select-block {
  position: relative;
  display: block;
  padding: 40px 0;
}

/* line 637, ../sass/searchPageStyle.scss */
.select-item-block {
  position: relative;
  display: block;
  /*display: -webkit-flex;
  display: flex;
  flex-flow: row;
  justify-content: space-between;*/
  margin: 40px auto;
  padding: 0;
}
/* line 646, ../sass/searchPageStyle.scss */
.select-item-block .select-item-head {
  position: relative;
  display: block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  padding-bottom: 12px;
  border-bottom: 1px solid #dbdbdb;
  margin: 0 8px 16px;
}
/* line 653, ../sass/searchPageStyle.scss */
.select-item-block .select-item-head .select-item-title {
  position: relative;
  display: inline-block;
  font-size: 28px;
  line-height: 41px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: left;
  color: #323142;
}
/* line 663, ../sass/searchPageStyle.scss */
.select-item-block .select-item-head .select-item-more {
  position: relative;
  display: inline-block;
  float: right;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 4px;
  text-align: left;
  color: #d1a593;
  padding: 9.5px 0;
}
/* line 674, ../sass/searchPageStyle.scss */
.select-item-block .select-item-head .select-item-more > img {
  height: 12px;
  width: auto;
  vertical-align: top;
  margin: 5px 0;
}
@media (max-width: 1200px) and (min-width: 992px) {
  /* line 683, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card {
    display: block !important;
    margin: 10px auto !important;
    width: 50% !important;
  }
  /* line 688, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card-article-title {
    width: calc(100% - 88px) !important;
  }
  /* line 691, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card-item-title {
    width: 21em !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  /* line 696, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card {
    display: block !important;
    margin: 10px auto !important;
    width: 50% !important;
  }
  /* line 701, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card-article-title {
    width: calc(100% - 88px) !important;
  }
  /* line 704, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card-item-title {
    width: 15em !important;
  }
}
@media (max-width: 767px) {
  /* line 709, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card {
    display: block !important;
    margin: 10px auto !important;
    width: 100% !important;
  }
  /* line 714, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card-article-title {
    width: calc(100% - 88px) !important;
  }
  /* line 717, ../sass/searchPageStyle.scss */
  .select-item-block .wine-card-item-title {
    width: calc(100vw - 110px) !important;
  }
}

/* line 722, ../sass/searchPageStyle.scss */
.wine-brand-card {
  position: relative;
  padding: 8px;
  margin: 0;
}
/* line 726, ../sass/searchPageStyle.scss */
.wine-brand-card .wine-brand-content {
  background: #FFFFFF;
}
/* line 728, ../sass/searchPageStyle.scss */
.wine-brand-card .wine-brand-content > img {
  width: 100%;
  height: 313px;
  -o-object-fit: cover;
  object-fit: cover;
}
/* line 734, ../sass/searchPageStyle.scss */
.wine-brand-card .wine-brand-content > .wine-brand-text {
  position: relative;
  width: 100%;
  padding: 16px;
}
/* line 738, ../sass/searchPageStyle.scss */
.wine-brand-card .wine-brand-content > .wine-brand-text .wine-brand-title {
  height: 25px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  color: #323142;
  margin-bottom: 10px;
}
/* line 747, ../sass/searchPageStyle.scss */
.wine-brand-card .wine-brand-content > .wine-brand-text .wine-brand-intro {
  position: relative;
  display: -webkit-box;
  width: 100%;
  height: 44px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  color: #999999;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  text-align: justify;
  -webkit-box-orient: vertical;
}
/* line 765, ../sass/searchPageStyle.scss */
.wine-brand-card .wine-brand-content > .wine-brand-text > .wine-brand-info {
  position: relative;
  display: block;
  height: 20px;
}
/* line 769, ../sass/searchPageStyle.scss */
.wine-brand-card .wine-brand-content > .wine-brand-text > .wine-brand-info > img {
  width: 20px;
  height: 20px;
}
/* line 773, ../sass/searchPageStyle.scss */
.wine-brand-card .wine-brand-content > .wine-brand-text > .wine-brand-info > span {
  height: 20px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  color: #d1a593;
  padding: 0 6px;
  vertical-align: top;
}

/* line 788, ../sass/searchPageStyle.scss */
.expert-card {
  position: relative;
  padding: 8px;
  margin: 0;
}
/* line 792, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content {
  width: 100%;
  position: relative;
  display: block;
  background: #FFFFFF;
  padding: 40px 0 0;
}
/* line 798, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content > img {
  position: relative;
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
}
/* line 808, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content > .expert-card-text {
  position: relative;
  display: block;
  width: 100%;
  padding: 24px 16px 16px;
}
/* line 813, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content > .expert-card-text .expert-card-title {
  height: 25px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #323142;
  margin-bottom: 10px;
}
/* line 822, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content > .expert-card-text .expert-card-intro {
  position: relative;
  display: -webkit-box;
  width: 100%;
  height: 44px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  color: #999999;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* line 839, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content > .expert-card-text .expert-card-info {
  position: relative;
  display: inline-block;
  height: 20px;
}
/* line 843, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content > .expert-card-text .expert-card-info img {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
/* line 849, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content > .expert-card-text .expert-card-info > span {
  height: 20px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  color: #d1a593;
  padding: 0 0 0 6px;
  vertical-align: top;
}
/* line 861, ../sass/searchPageStyle.scss */
.expert-card .expert-card-content > .expert-card-text .expert-card-info-right {
  float: right;
}
