/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Noto Sans CJK TC";
  src: url(../fonts/Noto/NotoSansCJKtc-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/* line 4, ../sass/shoppingCartPageStyle.scss */
.cart-block {
  position: relative;
  display: block;
  width: 100%;
  background: #FFFFFF;
  margin-top: 120px;
}
/* line 10, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}
/* line 15, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block .cart-menu-box {
  position: relative;
  display: block;
  height: 98px;
  padding-top: 25px;
}
/* line 21, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block .cart-menu-box .cart-menu-active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #5052a1;
}
/* line 30, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block .cart-menu-box .cart-menu {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 28px;
  line-height: 41px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  color: #5052a1;
  cursor: pointer;
  padding: 16px 15px;
  margin: 0 12px 0 0;
}
@media (min-width: 991px) {
  /* line 43, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-menu-block .cart-menu-box .cart-menu:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #5052a1;
  }
}
/* line 56, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1080px;
  padding: 0;
}
/* line 62, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-image: url("../image/icon/check-02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  padding: 0;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 27px 6px 27px 0;
}
@media (max-width: 767px) {
  /* line 62, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content input[type="checkbox"] {
    margin: 13px 10px;
  }
}
/* line 83, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"]:checked {
  background-image: url("../image/icon/check-01.png");
}
/* line 86, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"] + label, .cart-block .cart-content input[type="checkbox"] + img + label {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  vertical-align: top;
  margin: 24px 0;
}
@media (max-width: 767px) {
  /* line 86, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content input[type="checkbox"] + label, .cart-block .cart-content input[type="checkbox"] + img + label {
    margin: 10px 0;
  }
}
/* line 96, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"] + img {
  height: 48px;
  width: auto;
  vertical-align: top;
  margin: 11px 6px 11px 0;
}
@media (max-width: 767px) {
  /* line 96, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content input[type="checkbox"] + img {
    width: 100%;
    height: auto;
    border: 0.5px solid #dbdbdb;
    padding: 10px;
  }
}
/* line 108, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"] + img + label {
  display: -webkit-inline-flex;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 76px);
  height: 44px;
  margin: 14px 0;
  vertical-align: top;
}
@media (max-width: 767px) {
  /* line 108, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content input[type="checkbox"] + img + label {
    font-size: 22px;
    line-height: 28px;
    width: 100%;
    margin: 10px 0;
  }
}
/* line 124, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table {
  position: relative;
  display: block;
  margin: 0;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}
@media (max-width: 767px) {
  /* line 124, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table {
    border-top: 1px solid #dbdbdb;
    font-size: 17px;
    line-height: 28px;
  }
}
/* line 137, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) {
  border-bottom: 1px solid #dbdbdb;
  color: #999999;
}
/* line 140, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) th {
  padding: 16px 0;
}
/* line 141, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-1 {
  width: 40%;
}
/* line 142, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-2 {
  width: 12%;
}
/* line 143, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-3 {
  width: 12%;
}
/* line 144, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-4 {
  width: 12%;
}
/* line 145, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-5 {
  width: 12%;
}
/* line 146, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-6 {
  width: 12%;
}
@media (max-width: 767px) {
  /* line 137, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table tr:nth-child(1) {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /* line 149, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table tr {
    display: block;
    width: 100%;
  }
}
/* line 154, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr[colspan="6"] > td {
  padding: 0;
}
/* line 158, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr {
  border: 1px solid #dbdbdb;
}
@media (max-width: 767px) {
  /* line 158, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr {
    display: block;
    width: 100%;
  }
}
/* line 164, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td {
  padding: 10px 10px 10px 0;
  vertical-align: middle;
}
@media (max-width: 767px) {
  /* line 164, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
  }
  /* line 172, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td:before {
    content: attr(data-th);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    background: #5052a1;
    color: #FFFFFF;
    border-radius: 4px;
    vertical-align: top;
    padding: 5px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  /* line 172, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td:before {
    font-size: 17px;
    height: 28px;
    padding: 0 5px;
  }
}

/* line 189, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td:nth-child(1) {
  padding: 10px;
}
@media (max-width: 767px) {
  /* line 189, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td:nth-child(1) {
    position: relative;
    display: block;
    width: 100%;
  }
  /* line 195, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td:nth-child(1) > input {
    margin: 0;
    float: right;
    width: 28px;
    height: 28px;
  }
}
/* line 203, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td:nth-child(3), .cart-block .cart-content table .cart-item-tr td:nth-child(5) {
  font-weight: bold;
  color: #933c42;
}
/* line 204, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td input.cart-item-count {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 2px;
  border: solid 0.5px #999999;
  text-align: center;
  vertical-align: top;
  outline: none;
  margin: 2px 3px;
}
@media (max-width: 767px) {
  /* line 204, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td input.cart-item-count {
    height: 28px;
    width: auto;
    width: 60px;
    margin: 0 5px;
    font-size: 15px;
  }
}
/* line 217, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td .cart-item-reduce, .cart-block .cart-content table .cart-item-tr td .cart-item-add {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: -1px 3px 0 0;
}
/* line 222, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td .cart-item-reduce img, .cart-block .cart-content table .cart-item-tr td .cart-item-add img {
  height: 22px;
  width: auto;
}
/* line 227, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td .cart-item-action {
  display: block;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 227, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td .cart-item-action {
    display: inline-block;
    margin-right: 24px;
  }
}
/* line 234, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr {
  border: 1px solid #dbdbdb;
}
@media (max-width: 767px) {
  /* line 234, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr {
    display: block;
    width: 100%;
  }
}
/* line 240, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td {
  padding: 10px 10px 10px 0;
  vertical-align: middle;
  color: #999999;
}
@media (max-width: 767px) {
  /* line 240, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
  }
  /* line 249, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td:before {
    content: attr(data-th);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    background: #999999;
    color: #FFFFFF;
    border-radius: 4px;
    vertical-align: top;
    padding: 5px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  /* line 249, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td:before {
    font-size: 17px;
    height: 28px;
    padding: 0 5px;
  }
}

/* line 266, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td:nth-child(1) {
  padding: 10px;
}
@media (max-width: 767px) {
  /* line 266, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td:nth-child(1) {
    position: relative;
    display: block;
    width: 100%;
  }
  /* line 272, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td:nth-child(1) > input {
    margin: 0;
    float: right;
    width: 28px;
    height: 28px;
  }
}
/* line 280, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td input.cart-item-count {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 2px;
  border: solid 0.5px #999999;
  text-align: center;
  vertical-align: top;
  outline: none;
  margin: 2px 3px;
}
@media (max-width: 767px) {
  /* line 280, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td input.cart-item-count {
    height: 28px;
    width: auto;
    width: 60px;
    margin: 0 5px;
    font-size: 15px;
  }
}
/* line 293, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td .cart-item-reduce, .cart-block .cart-content table .cart-delete-item-tr td .cart-item-add {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: -1px 3px 0 0;
}
/* line 298, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td .cart-item-reduce img, .cart-block .cart-content table .cart-delete-item-tr td .cart-item-add img {
  height: 22px;
  width: auto;
}
/* line 303, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td .cart-item-action {
  display: block;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 303, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td .cart-item-action {
    display: inline-block;
    margin-right: 24px;
  }
}
/* line 311, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table input.cart-delete-checkbox:checked {
  background-image: url("../image/icon/check-03.png");
}
/* line 317, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-action-box {
  position: relative;
  display: block;
  margin: 60px 0 24px;
}
@media (max-width: 767px) {
  /* line 317, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content .cart-action-box {
    text-align: center;
  }
}
/* line 322, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-action-box > div {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  color: #999999;
  cursor: pointer;
  margin: 0 24px 0 0;
}
@media (max-width: 767px) {
  /* line 322, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content .cart-action-box > div {
    margin: 0 10px;
  }
}
/* line 333, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-action-box > div > img {
  height: 18px;
  width: auto;
  vertical-align: top;
  margin: 1px 3px 0 1px;
}
/* line 341, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f6f7;
  padding: 24px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
@media (max-width: 767px) {
  /* line 341, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content .cart-total-box {
    padding: 24px 10px;
  }
}
/* line 351, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-mount {
  font-size: 15px;
  text-align: left;
  color: #323142;
}
/* line 355, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-mount > span {
  font-size: 19px;
  font-weight: bold;
  line-height: 28px;
  color: #933c42;
  margin: 0 16px;
}
/* line 363, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total {
  float: right;
}
/* line 365, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price-text {
  display: inline-block;
  margin-right: 24px;
}
@media (max-width: 767px) {
  /* line 365, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price-text {
    margin-right: 5px;
  }
}
/* line 369, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price-text span:nth-child(1) {
  display: block;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: #323142;
}
/* line 376, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price-text span:nth-child(2) {
  display: block;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  color: #999999;
}
/* line 384, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price {
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 19px;
  line-height: 28px;
  font-weight: bold;
  text-align: right;
  color: #933c42;
  vertical-align: top;
  margin-top: 8px;
}
/* line 397, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-checkout-btn {
  position: relative;
  display: block;
  float: right;
  width: 100%;
  max-width: 343px;
  height: 48px;
  border-radius: 4px;
  background-color: #933c42;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  margin: 16px 0 60px;
}

/* line 420, ../sass/shoppingCartPageStyle.scss */
.checkout-block {
  position: relative;
  display: block;
  width: 100%;
  background: #FFFFFF;
  margin: 120px auto 100px;
}
/* line 426, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-menu-block {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}
/* line 431, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-menu-block .checkout-menu-box {
  position: relative;
  display: block;
  min-height: 98px;
  text-align: center;
  padding-top: 40px;
}
@media (max-width: 767px) {
  /* line 431, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-menu-block .checkout-menu-box {
    text-align: left;
  }
}
/* line 438, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-menu-block .checkout-menu-box .checkout-menu-active {
  opacity: 1 !important;
}
/* line 441, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-menu-block .checkout-menu-box .checkout-menu {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 17px;
  line-height: 25px;
  text-align: left;
  color: #323142;
  opacity: 0.3;
  margin: 0;
}
/* line 451, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-menu-block .checkout-menu-box .checkout-menu:nth-last-child(1) {
  margin: 10px 0;
}
/* line 454, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-menu-block .checkout-menu-box .checkout-menu > img {
  position: relative;
  display: inline-block;
  height: 24px;
  width: auto;
  vertical-align: top;
  margin: 0.5px 50px;
}
@media (max-width: 767px) {
  /* line 454, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-menu-block .checkout-menu-box .checkout-menu > img {
    margin: 0.5px 10px;
  }
}
/* line 466, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
/* line 472, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-address-text {
  position: relative;
  display: block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 17px;
  line-height: 25px;
  text-align: left;
  color: #323142;
  margin: 60px 0 24px;
}
/* line 482, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table {
  width: 100%;
  margin: 0 auto;
  border: solid 0.5px #dbdbdb;
}
@media (max-width: 991px) {
  /* line 482, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-address-table {
    border: 0.5px solid #555555;
  }
}
@media (max-width: 991px) {
  /* line 489, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-address-table tr#rwdtr td:before {
    content: attr(data-th);
    display: inline-block;
    font-weight: bold;
    width: 60px;
    margin-right: 10px;
    color: #5052a1;
    border-radius: 4px;
    vertical-align: top;
    padding: 0 5px;
  }
}
/* line 501, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr th {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  color: #999999;
  text-align: left;
  border-bottom: solid 0.5px #dbdbdb;
  padding: 16px 0;
}
/* line 509, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr th:nth-child(1) {
  width: 20%;
  padding: 16px 0 16px 24px;
}
/* line 510, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr th:nth-child(2) {
  width: 40%;
}
/* line 511, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr th:nth-child(3) {
  width: 25%;
}
/* line 512, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr th:nth-child(4) {
  width: 15%;
}
@media (max-width: 991px) {
  /* line 501, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-address-table tr th {
    display: none;
  }
}
/* line 515, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr td {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  border-bottom: solid 0.5px #dbdbdb;
  color: #323142;
  padding: 16px 0;
}
@media (max-width: 991px) {
  /* line 515, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-address-table tr td {
    display: block;
    width: 100%;
    padding: 10px;
  }
}
/* line 528, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr td:nth-child(1) {
  padding: 16px 0 16px 24px;
}
@media (max-width: 991px) {
  /* line 528, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-address-table tr td:nth-child(1) {
    padding: 16px 10px;
    border-top: 0.5px solid #555555;
  }
}
/* line 535, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr td > input[type="radio"] {
  position: relative;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #323142;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  border-radius: 10px;
  margin-right: 5px;
}
/* line 548, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr td > input[type="radio"]:checked:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #5052a1;
  border-radius: 12px;
  background: #5052a1;
  margin-top: -5px;
  margin-left: -5px;
}
/* line 562, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr td .address-alter {
  position: relative;
  display: inline-block;
}
/* line 565, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr td .address-alter > div {
  cursor: pointer;
}
@media (max-width: 991px) {
  /* line 565, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-address-table tr td .address-alter > div {
    display: inline-block;
  }
  /* line 569, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-address-table tr td .address-alter > div:nth-child(1) {
    margin-right: 20px;
  }
}
/* line 573, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr td[colspan="4"] {
  text-align: center;
  cursor: pointer;
}
/* line 576, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-address-table tr td[colspan="4"] img {
  height: 18px;
  width: auto;
  vertical-align: top;
  margin-right: 6px;
}
/* line 586, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table {
  width: 100%;
  margin: 0 auto;
  border: solid 0.5px #dbdbdb;
}
@media (max-width: 991px) {
  /* line 586, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-order-table {
    border: solid 0.5px #555555;
  }
}
@media (max-width: 991px) {
  /* line 593, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-order-table tr#rwdtr td:before {
    content: attr(data-th);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    color: #5052a1;
    border-radius: 4px;
    vertical-align: top;
    padding: 0 5px;
  }
}
/* line 604, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr th {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  color: #999999;
  text-align: left;
  border-bottom: solid 0.5px #dbdbdb;
  padding: 16px 0;
}
/* line 612, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr th:nth-child(1) {
  width: 50%;
  padding: 16px 0 16px 24px;
}
/* line 613, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr th:nth-child(2) {
  width: 10%;
}
/* line 614, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr th:nth-child(3) {
  width: 10%;
}
/* line 615, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr th:nth-child(4) {
  width: 10%;
}
/* line 616, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr th:nth-child(5) {
  width: 10%;
}
/* line 617, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr th:nth-child(6) {
  width: 10%;
  text-align: right;
  padding: 16px 24px 16px 0;
}
@media (max-width: 991px) {
  /* line 604, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-order-table tr th {
    display: none;
  }
}
/* line 620, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr td {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  border-bottom: solid 0.5px #dbdbdb;
  color: #323142;
  padding: 16px 0;
}
@media (max-width: 991px) {
  /* line 620, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-order-table tr td {
    display: block;
    width: 100%;
    padding: 10px;
  }
}
/* line 633, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr td:nth-child(1) {
  padding: 16px 0 16px 24px;
}
@media (max-width: 991px) {
  /* line 633, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-order-table tr td:nth-child(1) {
    border-top: solid 0.5px #555555;
    padding: 10px;
  }
}
/* line 637, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr td:nth-last-child(1) {
  text-align: right;
  padding: 16px 24px 16px 0;
}
@media (max-width: 991px) {
  /* line 637, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-order-table tr td:nth-last-child(1) {
    padding: 10px;
  }
}
/* line 642, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr td > div > input[type="radio"] {
  position: relative;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #323142;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  border-radius: 10px;
  margin-right: 5px;
}
/* line 655, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr td > div > input[type="radio"] + label {
  color: #323142;
}
/* line 658, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr td > div > input[type="radio"]:checked:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #5052a1;
  border-radius: 12px;
  background: #5052a1;
  margin-top: -5px;
  margin-left: -5px;
}
/* line 672, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr td[colspan="6"] > div {
  text-align: center;
}
/* line 674, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr td[colspan="6"] > div img {
  height: 18px;
  width: auto;
  vertical-align: top;
  cursor: pointer;
  margin-right: 6px;
}
/* line 683, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  line-height: 22px;
  text-align: left;
  color: #999999;
}
@media (max-width: 991px) {
  /* line 683, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td {
    padding: 10px;
  }
}
/* line 690, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td:nth-child(1) {
  vertical-align: top;
}
/* line 691, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td .checkout-delivery-option-box {
  position: relative;
  display: inline-block;
}
/* line 694, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td .checkout-delivery-option-box > div > input[type="radio"] {
  position: relative;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #323142;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  border-radius: 10px;
  margin-right: 5px;
}
/* line 707, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td .checkout-delivery-option-box > div > input[type="radio"] + label {
  color: #323142;
}
/* line 710, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td .checkout-delivery-option-box > div > input[type="radio"]:checked:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #5052a1;
  border-radius: 12px;
  background: #5052a1;
  margin-top: -5px;
  margin-left: -5px;
}
/* line 725, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td .checkout-delivery-fee-box {
  position: relative;
  display: inline-block;
  float: right;
}
/* line 729, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-delivery td .checkout-delivery-fee-box > .checkout-delivery-fee {
  font-weight: bold;
  text-align: right;
  color: #933c42;
}
/* line 737, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-total-price > td:nth-child(1) {
  font-size: 13px;
  line-height: 22px;
  text-align: left;
  color: #999999;
}
/* line 743, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table table.checkout-order-table tr.checkout-total-price > td:nth-child(2) {
  font-weight: bold;
  text-align: right;
  color: #933c42;
}
/* line 751, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block {
  position: relative;
  display: block;
  width: 100%;
  margin: 24px 0 0;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #999999;
}
/* line 758, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block .checkout-other-box {
  position: relative;
  display: inline-block;
  margin: 0 40px 0 0;
}
@media (max-width: 767px) {
  /* line 758, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table .checkout-other-block .checkout-other-box {
    width: 100%;
    margin: 10px 0;
  }
}
/* line 763, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block .checkout-other-box .checkout-other-text {
  position: relative;
  display: block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  color: #323142;
  margin: 0 0 8px 0;
}
/* line 773, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block .checkout-other-box > input {
  position: relative;
  display: inline-block;
  width: 343px;
  height: 44px;
  background: #ffffff;
  border: solid 1px #d9d9d9;
  line-height: 20px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  text-align: left;
  color: #999999;
  outline: none;
  box-shadow: none;
  padding: 12px 16px;
}
@media (max-width: 991px) and (min-width: 768px) {
  /* line 773, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table .checkout-other-block .checkout-other-box > input {
    width: 230px;
  }
}
@media (max-width: 767px) {
  /* line 773, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table .checkout-other-block .checkout-other-box > input {
    width: 80%;
  }
}
/* line 793, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block .checkout-other-box > button {
  position: relative;
  display: inline-block;
  height: 44px;
  background: #5052a1;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 5px 15px;
  margin-left: -4px;
}
@media (max-width: 767px) {
  /* line 793, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table .checkout-other-block .checkout-other-box > button {
    width: 20%;
    padding: 5px 0;
  }
}
/* line 810, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block .checkout-invoice {
  position: relative;
  display: inline-block;
  float: right;
  padding-top: 22px;
}
@media (max-width: 767px) {
  /* line 810, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table .checkout-other-block .checkout-invoice {
    float: none;
  }
}
/* line 816, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block .checkout-invoice > input {
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  outline: none;
  background-image: url("../image/icon/check-02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  padding: 0;
  margin: 3px;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 831, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block .checkout-invoice > input:checked {
  background-image: url("../image/icon/check-01.png");
}
/* line 834, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-other-block .checkout-invoice > input + label {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  vertical-align: top;
}
/* line 845, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-info-list {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background: #f5f6f7;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  padding: 16px 24px;
  margin: 48px 0 16px;
}
/* line 854, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-info-list .checkout-info-list-box {
  position: relative;
  display: inline-block;
  width: 40%;
}
@media (max-width: 992px) {
  /* line 854, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table .checkout-info-list .checkout-info-list-box {
    display: block;
    width: 100%;
  }
}
/* line 859, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-info-list .checkout-info-list-box:nth-child(2) {
  float: right;
}
@media (max-width: 992px) {
  /* line 859, ../sass/shoppingCartPageStyle.scss */
  .checkout-block .checkout-table .checkout-info-list .checkout-info-list-box:nth-child(2) {
    display: block;
    width: 100%;
    float: none;
    margin-top: 20px;
  }
}
/* line 864, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-info-list .checkout-info-address {
  position: relative;
  display: block;
  line-height: 22px;
  font-size: 15px;
  text-align: left;
  color: #323142;
}
/* line 872, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-info-list .checkout-info-weight {
  position: relative;
  display: block;
  line-height: 19px;
  font-size: 13px;
  text-align: right;
  color: #999999;
}
/* line 880, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-info-list .checkout-info-price-box {
  text-align: right;
}
/* line 882, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-info-list .checkout-info-price-box .checkout-info-price-text {
  font-size: 15px;
  line-height: 22px;
  color: #323142;
}
/* line 887, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-info-list .checkout-info-price-box .checkout-info-price {
  line-height: 28px;
  font-size: 19px;
  font-weight: bold;
  color: #933c42;
}
/* line 895, ../sass/shoppingCartPageStyle.scss */
.checkout-block .checkout-table .checkout-btn {
  position: relative;
  display: block;
  width: 100%;
  max-width: 343px;
  height: 48px;
  border-radius: 4px;
  background: #933c42;
  line-height: 22px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  float: right;
  outline: none;
  border: none;
}

/* line 916, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10199;
}
/* line 924, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: auto;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #999999;
  z-index: 10200;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 767px) {
  /* line 924, ../sass/shoppingCartPageStyle.scss */
  .add-new-address-block .new-address-box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    overflow-y: scroll;
  }
}
/* line 953, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-head {
  position: relative;
  display: block;
  width: 100%;
  font-size: 17px;
  text-align: left;
  color: #323142;
  padding: 24px 24px 16px;
  border-bottom: 1px solid #dbdbdb;
}
/* line 962, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-head > img {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 22px;
  width: auto;
  cursor: pointer;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
/* line 973, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-head > img:hover {
  -ms-transform: rotate(1turn);
  -o-transform: rotate(1turn);
  -webkit-transform: rotate(1turn);
  -moz-transform: rotate(1turn);
  transform: rotate(1turn);
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
/* line 986, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-content {
  position: relative;
  display: block;
  width: 100%;
  padding: 24px 24px 0;
}
/* line 991, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-content .new-address-input {
  margin: 0 0 24px 0;
}
/* line 993, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-content .new-address-input .new-address-text {
  line-height: 19px;
  font-size: 13px;
  text-align: left;
  color: #323142;
  margin: 0 0 8px;
}
/* line 1000, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-content .new-address-input input:not([type="checkbox"]), .add-new-address-block .new-address-box .new-address-content .new-address-input select {
  padding: 12px 16px;
  outline-color: #5052a1;
}
/* line 1004, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-content .new-address-input input[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  outline: none !important;
  background-image: url("../image/icon/check-02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  padding: 0;
  margin: 15px 3px;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 1021, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-content .new-address-input input[type="checkbox"] + label {
  line-height: 22px;
  font-size: 15px;
  text-align: left;
  color: #323142;
  margin: 12px 0;
}
/* line 1028, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-content .new-address-input input[type="checkbox"]:checked {
  background-image: url("../image/icon/check-01.png");
}
/* line 1032, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-content .new-address-input .input-2-box {
  padding: 0;
}
/* line 1037, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-footer {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid #dbdbdb;
}
/* line 1046, ../sass/shoppingCartPageStyle.scss */
.add-new-address-block .new-address-box .new-address-footer .new-address-btn {
  width: 343px;
  height: 48px;
  border-radius: 4px;
  background-color: #5052a1;
  line-height: 48px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  border: none;
  outline: none;
  color: #ffffff;
}
