/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Noto Sans CJK TC";
  src: url(../fonts/Noto/NotoSansCJKtc-Regular.otf);
  font-style: normal;
  font-weight: normal;
}
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/* line 4, ../sass/shoppingCartPageStyle.scss */
.cart-block {
  position: relative;
  display: block;
  width: 100%;
  background: #FFFFFF;
  margin-top: 120px;
}
/* line 10, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}
/* line 15, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block .cart-menu-box {
  position: relative;
  display: block;
  height: 98px;
  padding-top: 25px;
}
/* line 21, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block .cart-menu-box .cart-menu-active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #5052a1;
}
/* line 30, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block .cart-menu-box .cart-menu {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 28px;
  line-height: 41px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  color: #5052a1;
  cursor: pointer;
  padding: 16px 15px;
  margin: 0 12px 0 0;
}
/* line 43, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-menu-block .cart-menu-box .cart-menu:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #5052a1;
}
/* line 54, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1080px;
  padding: 0;
}
/* line 60, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-image: url("../image/icon/check-02.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  padding: 0;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 27px 6px 27px 0;
}
@media (max-width: 767px) {
  /* line 60, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content input[type="checkbox"] {
    margin-left: 10px;
  }
}
/* line 81, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"]:checked {
  background-image: url("../image/icon/check-01.png");
}
/* line 84, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"] + label, .cart-block .cart-content input[type="checkbox"] + img + label {
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
  color: #323142;
  vertical-align: top;
  margin: 24px 0;
}
/* line 93, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"] + img {
  height: 48px;
  width: auto;
  vertical-align: top;
  margin: 11px 6px 11px 0;
}
@media (max-width: 767px) {
  /* line 93, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content input[type="checkbox"] + img {
    width: 100%;
    height: auto;
    border: 0.5px solid #dbdbdb;
    padding: 10px;
  }
}
/* line 105, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content input[type="checkbox"] + img + label {
  display: -webkit-inline-flex;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 76px);
  height: 44px;
  margin: 14px 0;
  vertical-align: top;
}
@media (max-width: 767px) {
  /* line 105, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content input[type="checkbox"] + img + label {
    font-size: 22px;
    line-height: 28px;
    width: 100%;
    margin: 10px 0;
  }
}
/* line 121, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table {
  position: relative;
  display: block;
  margin: 0;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}
/* line 129, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) {
  border-bottom: 1px solid #dbdbdb;
  color: #999999;
}
/* line 132, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) th {
  padding: 16px 0;
}
/* line 133, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-1 {
  width: 40%;
}
/* line 134, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-2 {
  width: 12%;
}
/* line 135, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-3 {
  width: 12%;
}
/* line 136, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-4 {
  width: 12%;
}
/* line 137, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-5 {
  width: 12%;
}
/* line 138, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr:nth-child(1) .th-6 {
  width: 12%;
}
@media (max-width: 767px) {
  /* line 129, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table tr:nth-child(1) {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /* line 141, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table tr {
    display: block;
    width: 100%;
  }
}
/* line 146, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table tr[colspan="6"] > td {
  padding: 0;
}
/* line 150, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr {
  border: 1px solid #dbdbdb;
}
@media (max-width: 767px) {
  /* line 150, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr {
    display: block;
    width: 100%;
  }
}
/* line 156, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td {
  padding: 10px 10px 10px 0;
  vertical-align: middle;
}
@media (max-width: 767px) {
  /* line 156, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
  }
  /* line 164, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td:before {
    content: attr(data-th);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    background: #5052a1;
    color: #FFFFFF;
    border-radius: 4px;
    vertical-align: top;
    padding: 5px;
  }
}
/* line 176, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td:nth-child(1) {
  padding: 10px;
}
@media (max-width: 767px) {
  /* line 176, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td:nth-child(1) {
    position: relative;
    display: block;
    width: 100%;
  }
  /* line 182, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td:nth-child(1) > input {
    margin: 0;
    float: right;
    width: 28px;
    height: 28px;
  }
}
/* line 190, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td:nth-child(3), .cart-block .cart-content table .cart-item-tr td:nth-child(5) {
  font-weight: bold;
  color: #933c42;
}
/* line 191, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td input.cart-item-count {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 2px;
  border: solid 0.5px #999999;
  text-align: center;
  vertical-align: top;
  outline: none;
  margin: 2px 3px;
}
/* line 203, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td .cart-item-reduce, .cart-block .cart-content table .cart-item-tr td .cart-item-add {
  position: relative;
  display: inline-block;
  margin: -1px 3px 0 0;
}
/* line 207, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td .cart-item-reduce img, .cart-block .cart-content table .cart-item-tr td .cart-item-add img {
  height: 22px;
  width: auto;
}
/* line 212, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-item-tr td .cart-item-action {
  display: block;
}
@media (max-width: 767px) {
  /* line 212, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-item-tr td .cart-item-action {
    display: inline-block;
    margin-right: 24px;
  }
}
/* line 218, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr {
  border: 1px solid #dbdbdb;
}
@media (max-width: 767px) {
  /* line 218, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr {
    display: block;
    width: 100%;
  }
}
/* line 224, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td {
  padding: 10px 10px 10px 0;
  vertical-align: middle;
  color: #999999;
}
@media (max-width: 767px) {
  /* line 224, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
  }
  /* line 233, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td:before {
    content: attr(data-th);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    background: #999999;
    color: #FFFFFF;
    border-radius: 4px;
    vertical-align: top;
    padding: 5px;
  }
}
/* line 245, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td:nth-child(1) {
  padding: 10px;
}
@media (max-width: 767px) {
  /* line 245, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td:nth-child(1) {
    position: relative;
    display: block;
    width: 100%;
  }
  /* line 251, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td:nth-child(1) > input {
    margin: 0;
    float: right;
    width: 28px;
    height: 28px;
  }
}
/* line 259, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td input.cart-item-count {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 2px;
  border: solid 0.5px #999999;
  text-align: center;
  vertical-align: top;
  outline: none;
  margin: 2px 3px;
}
/* line 271, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td .cart-item-reduce, .cart-block .cart-content table .cart-delete-item-tr td .cart-item-add {
  position: relative;
  display: inline-block;
  margin: -1px 3px 0 0;
}
/* line 275, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td .cart-item-reduce img, .cart-block .cart-content table .cart-delete-item-tr td .cart-item-add img {
  height: 22px;
  width: auto;
}
/* line 280, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table .cart-delete-item-tr td .cart-item-action {
  display: block;
}
@media (max-width: 767px) {
  /* line 280, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content table .cart-delete-item-tr td .cart-item-action {
    display: inline-block;
    margin-right: 24px;
  }
}
/* line 287, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content table input.cart-delete-checkbox:checked {
  background-image: url("../image/icon/check-03.png");
}
/* line 293, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-action-box {
  position: relative;
  display: block;
  margin: 60px 0 24px;
}
@media (max-width: 767px) {
  /* line 293, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content .cart-action-box {
    text-align: center;
  }
}
/* line 298, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-action-box > div {
  position: relative;
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  color: #999999;
  cursor: pointer;
  margin: 0 24px 0 0;
}
@media (max-width: 767px) {
  /* line 298, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content .cart-action-box > div {
    margin: 0 10px;
  }
}
/* line 309, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-action-box > div > img {
  height: 18px;
  width: auto;
  vertical-align: top;
  margin: 1px 3px 0 1px;
}
/* line 317, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box {
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f6f7;
  padding: 24px;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
@media (max-width: 767px) {
  /* line 317, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content .cart-total-box {
    padding: 24px 10px;
  }
}
/* line 327, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-mount {
  font-size: 15px;
  text-align: left;
  color: #323142;
}
/* line 331, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-mount > span {
  font-size: 19px;
  font-weight: bold;
  line-height: 28px;
  color: #933c42;
  margin: 0 16px;
}
/* line 339, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total {
  float: right;
}
/* line 341, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price-text {
  display: inline-block;
  margin-right: 24px;
}
@media (max-width: 767px) {
  /* line 341, ../sass/shoppingCartPageStyle.scss */
  .cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price-text {
    margin-right: 5px;
  }
}
/* line 345, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price-text span:nth-child(1) {
  display: block;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  color: #323142;
}
/* line 352, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price-text span:nth-child(2) {
  display: block;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  color: #999999;
}
/* line 360, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-total-box .cart-item-total .cart-item-price {
  display: inline-block;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 19px;
  line-height: 28px;
  font-weight: bold;
  text-align: right;
  color: #933c42;
  vertical-align: top;
  margin-top: 8px;
}
/* line 373, ../sass/shoppingCartPageStyle.scss */
.cart-block .cart-content .cart-checkout-btn {
  position: relative;
  display: block;
  float: right;
  width: 100%;
  max-width: 343px;
  height: 48px;
  border-radius: 4px;
  background-color: #933c42;
  font-family: "Noto Sans CJK TC", "kozgopr6n", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 15px;
  line-height: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin: 16px 0 60px;
}
